page-matricula-detail {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .matricula-detail {
    width: 100%;
    background: white;
    position: absolute;
  }

  .btn-wrapper {
    text-align: center;
  }
}
